body {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 1fr 2fr;
  background-color: #fdf800;
  font: inherit;
  font-size: 100%;
  background-repeat: repeat;
}

header {
  background-color: #03d8f3;
  border: solid black;
  border-radius: 15px;
  margin: 2%;
  padding: 2%;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 7%;
}

#img_Kebabtallrik {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 15px;
  margin: 5%;
  align-items: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}

.info {
  background-color: #03d8f3;
  border: solid black;
  border-radius: 15px;
  margin: 7%;
  padding: 12%;
}

h2 {
  text-align: center;
  justify-content: center;
}

.lista {
  background-color: #03d8f3;
  border: solid black;
  border-radius: 15px;
  margin-top: 35%;
}

.img_Kebabtallrik2 {
  display: flex;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 15px;
  margin: 5%;
  justify-content: space-between;
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 4%;
}

.ingredienser {
  padding-top: 20%;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 15px;
  height: 800px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 250%;
  text-align: center ;
}

.GörSåHär {
  padding-top: 20%;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 15px;
  height: 800px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 250%;
  text-align: center ;
}