body {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #fdf800;
}

header {
  background-color: #03d8f3;
  border: solid black;
  border-radius: 4%;
  margin: 2%;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#img_Kebabtallrik {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 2%;
  margin: 2%;
  align-items: center;
}

#img_Kebabtallrik img {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

.info {
  background-color: #03d8f3;
  border: solid black;
  border-radius: 2%;
  margin: 7%;
  padding: 12%;
}

h2 {
  text-align: center;
  justify-content: center;
}

.lista {
  background-color: #03d8f3;
  border: solid black;
  border-radius: 2%;
  margin-top: 50%;
  margin-bottom: 15%;
}

.img_Kebabtallrik2 {
  display: flex;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 2%;
  margin: 5%;
  justify-content: space-between;
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 4%;
}

#img_Kebabtallrik2 img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
}
.ingredienser {
  padding-top: 20%;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 4%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 250%;
  text-align: center;
}

.GörSåHär {
  padding-top: 15%;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 4%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 250%;
  text-align: center;
}

footer {
  margin-top: 2%;
  background-color: #03d8f3;
  border: solid black;
  border-radius: 4%;
  grid-column: 1/3;
}

h3{
text-align: center;
color: red;
}